{% extends "base.html.twig" %}

{% set active = "about" %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
    <!--// Main Content \\-->
    <div class="sportsmagazine-main-content">

        <!--// Main Section \\-->
        <div class="sportsmagazine-main-section sportsmagazine-login-form-full">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="sportsmagazine-login-form">
                            <h4>Connexion</h4>
                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >

                                <ul>
                                    <li><input type="text"
                                               value="{{ last_username ?? 'Saisir Votre Email*' }}"
                                               name="_email"
                                               required
                                               onblur="if(this.value == '') { this.value ='Saisir Votre Email*'; }"
                                               onfocus="if(this.value =='Enter username*') { this.value = ''; }"></li>
                                    <li><input type="text" value="Saisir Votre Mot de Passe*"
                                               name="_password"
                                               required
                                               onblur="if(this.value == '') { this.value ='Saisir Votre Mot de Passe*'; }"
                                               onfocus="if(this.value =='Password*') { this.value = ''; }">
                                        {# <a href="#">Mot passe Oublier?</a> #}
                                    </li>
                                    <li>
                                        <label class="submit-border"><input type="submit"
                                                                            value="Se connecter"><span></span></label>
                                    </li>
                                </ul>
                            </form>
{#                            <ul class="sportsmagazine-login-social">#}
{#                                <li><a href="https://www.facebook.com/" class="color-one"><i class="fa fa-facebook"></i>facebook</a>#}
{#                                </li>#}
{#                                <li><a href="https://twitter.com/login" class="color-two"><i class="fa fa-twitter"></i>Twitter</a>#}
{#                                </li>#}
{#                                <li><a href="https://plus.google.com/" class="color-three"><i#}
{#                                                class="fa fa-google-plus"></i>Google+</a></li>#}
{#                                <li><a href="https://www.instagram.com/accounts/login/" class="color-four"><i#}
{#                                                class="fa fa-instagram"></i>Instagram</a></li>#}
{#                            </ul>#}
{#                            <span>Vous n'êtes pas membre?<a href="#inscr"> Inscrire maintenant ici</a></span>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Section \\-->

    </div>
    <!--// Main Content \\-->
{% endblock %}